{% extends 'admin/admin_nav.html' %}
{% load static %}
{% block content %}
<table class="table">
    <tr>
        <th>workerregister</th>
        <th>First_Name</th>
        <th>Email</th>
        <th>Phone_No</th>
        <th>state</th>
        <th>city</th>
        <th>district</th>
        <th>Profile_pic</th>
        <th>Wage</th>
        <th>Id_Proof</th>
        <th>Delete</th>
    </tr>
    {% for i in page_obj %}
    <tr>
        <th>{{i.workerregister}}</th>
        <th>{{i.First_Name}}</th>
        <th>{{i.Email}}</th>
        <th>{{i.Phone_No}}</th>
        <th>{{i.state}}</th>
        <th>{{i.city}}</th>
        <th>{{i.district}}</th>
        <th><img src="{{i.Profile_pic.url}}" alt="" width="50px" height="50px"></th>
        <th>{{i.Wage}}</th>
        <th><img src="{{i.Id_Proof.url}}" alt="" width="50px" height="50px"></th>
        <th><a class="btn btn-danger" href="{% url 'delete_worker' UserId i.workerId %}">Delete </a></th>
    </tr>
    {% endfor %}
</table>
{% include 'pagination.html' %}
{% endblock content %}
