{% extends 'user/user_nav.html' %}
{% load static %}
{% block content %}
<table class="table">
    <tr>

        <th>Contractor Name</th>
        <th>State</th>
        <th>City</th>
        <th>District</th>
        <th>Phone_No</th>
        <th>Profile_pic</th>
        <th>Wage</th>
    </tr>
    {% for i in page_obj %}
    <tr>

        <th>{{i.ContractorId.First_Name}}</th>
        <th>{{iContractorId.state}}</th>
        <th>{{i.ContractorId.city}}</th>
        <th>{{i.ContractorId.district}}</th>
        <th>{{i.ContractorId.Phone_No}}</th>
        <th><img src="{{i.ContractorId.Profile_pic.url}}" alt="" width="50px" height="50px"></th>
        <th>{{i.Wages}}</th>
        <td><a class="btn btn-success" href="{% url 'uc_previousmaintenance' UserId i.ReqId  %}">Previous Maintenance</a></td>


    </tr>
    {% endfor %}
</table>
{% include 'pagination.html' %}
{% endblock content %}
